:root {
    --brand-color: #013755;
    --primary-color: #73edff;
    --ligth-primary-color: #d5faff;
    --bs-font-sans-serif: 'Roboto', sans-serif;
}


/*CUSTOM CSS*/

.navbar {
    background-color: var(--brand-color);
}

.navbar-default {
    background-color: var(--primary-color);
}

nav ol.breadcrumb {
    margin-top: 5%;
}

.menu-active {;
    font-size: 1.1rem;
    text-decoration: underline;
}

/*CUSTOM BACKGROUND COLORS*/
.bck-primary-ligth {
    background-color: var(--primary-color);
}

.bck-primary {
    background-color: var(--brand-color);
}

.bck-primary-ligth {
    background-color: var(--ligth-primary-color);
}

/*LOGO */
.img-logo {
    max-width: 10%;
    margin: 2% 2% 2% 2%;
}


/*CUSTOM BUTTONS*/
.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.dt-buttons {
    margin-top: -10%;
}

textarea {
    width: 100%;
}

/*JS VALIDATE ERRORS*/
.help-block-error {
    color: red;
}

.error-border {
    border-color: red;
}

